@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
}

.nav {
    height: 100px;
    background-image: url('/images/nav.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titulo1 {
    color: aliceblue;
    display: flex;
    align-items: center;
}

.titulo1 h1 {
    margin-left: 5px;
}

#logo_smed {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    border-radius: 20px;
}

.nav_items a {
    margin-left: 50px;
    margin-right: 20px;
    text-decoration: none;
    color: aliceblue;
    position: relative;
    padding-bottom: 2px;
    transition: color 1s ease-out; /* Transición para el color del texto */
}

.nav_items a:hover::after {
    width: 100%;
    left: 0;
}
.nav_items a::after {
    content: ''; 
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    width: 0; 
    height: 2px; 
    background-color: white;
    transition: all 0.3s ease-out; /* Transición para la línea */
} 


.link, .link_active {
    text-decoration: none;
    color: aliceblue;
}

/* seccion de la parte del nav */

/* inicio primer pantalla */

.primer_pantalla {
    
    height: 700px;
    width: 80%;
    padding: 10px;
    margin-top: 0px;
    position: relative;
}

#title_our {
    width: auto;
    height: auto;
    padding: 10px;
    border: transparent;
    color: #061A3B;
    font-family: "Orbitron", sans-serif;
    margin-top: 150px;
    margin-left: 20px;
    font-size: 6.5em;
}

#decoracion {
    width: 100px;
    height: 30px;
    margin-left: 30px;
}

.p_our {
    font-family: "Open Sans", sans-serif;
    margin-left: 30px;
    font-size: 2em;
    width: 80%;
    text-align:left;
}

/* imagen pantalla 1 */

.reunion_gif {
    width: 15%;
    position: absolute; 
    right: 10px; /* Ajuste para evitar desbordamiento */
    top: 60%;
    transform: translateY(-50%);
}

/* segunda pantalla*/

.segunda_pantalla {
    margin-top: 270px;
    color: beige;
    background-image: linear-gradient(to bottom, #000000, #052d7b);
    width: 100%;
    height: auto;
    padding: 20px 0;
}

#sub_1 {
    display: flex;
    justify-content: flex-start;
    font-family: "Orbitron", sans-serif;
    font-size: 70px;
    margin-left: 30px;
}

contenedor-imagen {
    text-align: center;
    margin: 20px 0;
}

#lineaSup {
    width: 100%;
    height: 200px;
}

.caja_mission_vision {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1%;
    padding: 2%;
}

.caja1 {
    padding: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    max-width: 60%;
    min-width: 40%;
    text-align: center;
    color: #ffffff;
    
}

#reunion {
    width: 60%;
    margin-bottom: 20px;
}

#reunion2 {
    width: 60%;
    margin-bottom: 20px;
}

.caja1 h3 {
    font-family: "Orbitron", sans-serif;
    font-size: 50px;
    margin-top: -100px;
    color: #ffffff;
}

.caja1 p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 20px auto; /* Ajustar el margen para más espacio */
    text-align: justify;
    color: #ffffff;
    line-height: 1.6; /* Añadir line-height para mejorar la legibilidad */
}


