@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
}

.nav {
    height: 100px;
    background-image: url('/images/nav.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titulo1 {
    color: aliceblue;
    display: flex;
    align-items: center;
}

.titulo1 h1 {
    margin-left: 5px;
}

#logo_smed {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    border-radius: 20px;
}

.nav_items a {
    margin-left: 50px;
    margin-right: 20px;
    text-decoration: none;
    color: aliceblue;
    position: relative;
    padding-bottom: 2px;
    transition: color 1s ease-out; /* Transición para el color del texto */
}

.nav_items a:hover::after {
    width: 100%;
    left: 0;
}
.nav_items a::after {
    content: ''; 
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    width: 0; 
    height: 2px; 
    background-color: white;
    transition: all 0.3s ease-out; /* Transición para la línea */
} 


.link, .link_active {
    text-decoration: none;
    color: aliceblue;
}

/* seccion de la parte del nav */

/* inicio primer pantalla */

.primer_pantalla {
    
    height: 700px;
    width: 80%;
    padding: 10px;
    margin-top: 0px;
    position: relative;
}

#title_our {
    width: auto;
    height: auto;
    padding: 10px;
    border: transparent;
    color: #061A3B;
    font-family: "Orbitron", sans-serif;
    margin-top: 150px;
    margin-left: 20px;
    font-size: 6.5em;
}

#decoracion {
    width: 100px;
    height: 30px;
    margin-left: 30px;
}

.p_our {
    font-family: "Open Sans", sans-serif;
    margin-left: 30px;
    font-size: 2em;
    width: 80%;
    text-align:left;
}

/* imagen pantalla 1 */

.reunion_gif {
    width: 15%;
    position: absolute; 
    right: 10px; /* Ajuste para evitar desbordamiento */
    top: 60%;
    transform: translateY(-50%);
}

/* seccion del primer banner*/

.segunda_pantalla {
    margin-top: 270px;
    color: beige;
    background-image: linear-gradient(to bottom, #000000, #052d7b);
    width: 100%;
    height: 380%;
}

#sub_1 {
    display: flex;
    justify-content: flex-start;
    font-family: "Orbitron", sans-serif;
    font-size: 70px;
    margin-left: 30px;
}

#lineaSup {
    width: 100%;
    height: 200px;
}

/* caja1 seccion 2 */

#reunion {
  width: 70%;
  margin-left: 8%;
}

#mision {
    width: 100%;
    height: 50%;
    margin-left: -10000px;
    
}

.caja1 {
   width: 50%;
}




h3 {
    font-family: "Orbitron", sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 25%;
    
}



/* caja 2 seccion 2*/


#texto{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    width: 90%;
    max-width: 470px;
    height: auto;
    margin: 20px auto;
    text-align: justify;
    
}

