@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-image: url(/images/S\ M\ E\ D.png);
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
  z-index: 100;
}


.nav-logo p {
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin: 0%;
}

.nav-menu ul {
  display: flex;
}

.nav-menu li {
  list-style-type: none;
}

.nav-menu ul li .link {
  text-decoration: none;
  font-weight: 500;
  color: white;
  position: relative;
  padding-bottom: 2px;
  margin: 0 25px;
  transition: color 0.3s ease;
  /* Añadir una transición suave */
}

.nav-menu ul li .link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease-out;
}

.nav-menu ul li .link:hover::after {
  width: 100%;
  left: 0;
}

.link:hover {
  color: #ffff;
  /* Modificado: Mantener el color del texto en hover */
}

.nav-button .btn {
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
}

.nav-button .btn:hover {
  background: rgba(255, 255, 255, 0.7);
}

.titulo1 {
  color: aliceblue;
  display: flex;
  align-items: center;
}

.titulo1 h1 {
  margin-left: 5px;
}

#logo_smed {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  border-radius: 20px;
}

.nav_items a {
  margin-left: 50px;
  margin-right: 20px;
  text-decoration: none;
  color: aliceblue;
  position: relative;
  padding-bottom: 2px;
  transition: color 1s ease-out;
  /* Transición para el color del texto */
}

.nav_items a:hover::after {
  width: 100%;
  left: 0;
}

.nav_items a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease-out;
  /* Transición para la línea */
}


.link,
.link_active {
  text-decoration: none;
  color: aliceblue;
}

/* seccion de la parte del nav */

.screen_1 {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  flex-direction: row;
  justify-content: center;
  padding: 15px;

}

.screen_1 p,
h1,
h2 {
  color: rgb(255, 255, 255);
 
}
.screen_1 h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200%; 

}

.screen_1 h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 350px;
  font-style: normal;
  font-size: 700%;
  text-shadow: 5px 5px 2px rgb(15, 15, 15), 0 0 1em rgb(20, 51, 190), 0 0 0.2em rgb(213, 213, 213);
}

.screen_1 p{
  font-size: 120%;
  justify-content: right;
}

.logo_1 {
  padding-left: 180px;
  margin-right: 3%;
}

.button1_screen button {
  flex-direction: row;
  justify-items: center;
  margin-top: 6%;
  width: 20%;
  height: 40px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
}
.button1_screen .btn_scre:hover {
background-color: rgba(255, 255, 255, 0.7);
}


/* servicios */
.screen_2 {
  background-image: linear-gradient(180deg, #ffffff 0%, #f0f0f0 100%);  /* Degradado de blanco a gris claro */
  background-color: #ffffff;  /* Fondo blanco para que se vea limpio si el degradado no se carga */
  background-size: cover;  /* Asegura que el degradado cubra todo el fondo */
  background-position: center;  /* Centra el fondo */
}
.title_2 {
  height: 5px;
  text-align: center; /* Centrado horizontalmente */
  font-size: 80px;  /* Tamaño del texto */
  font-weight: bold;  /* Negrita */
  margin-top: 10px;  /* Ajusta el espacio superior */
  margin-bottom: 10px; /* Espaciado inferior */
  color: #34495E;
}

:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 30px;
  --spacing-m: 20px;
  --spacing-l: 37px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 950px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body{
  height: 100%;
}

.hero-section{
  align-items: center;
  background-image: linear-gradient(15deg, #ffffffd5 0%, #ffffffd5 150%);
  display: flex;
  min-height: 80%;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
  margin-left: 24%;
  margin-top: 100px;
  
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(3, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}


.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 1.2 rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

.servicios {
  margin-top: 40%;
  display: flex;
  margin-left:30%;
}

.contacto {
  margin: 2rem ;
  position: relative;
  padding: 2rem;
  margin-top: 60rem; /* Margen para separarlo del contenido superior */
  border-radius: 20px; /* Bordes redondeados */
  overflow: hidden;
  z-index: 0; /* Para asegurarnos de que el contenido se superponga correctamente */

}

.contacto::before, .contacto::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #7598de90 0%, #000102d5 100%);
  z-index: -1;
  opacity: 0.2;
  border-radius: 20px; /* Bordes redondeados */
}

/*section3*/
.screen_3{
  background-color: #2d3548;
}


/* footer */

footer {
  background-color: #000102d5;
  color: #FFF;
  padding: 40px 20px;
}

.footer-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: center;
}

.footer-container div {
  flex: 1;
  margin: 10px 20px;
  min-width: 100px;
}

.footer-logo {
  margin: center;
  width: 100%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  /* Incluye padding en el ancho total */
}

.footer-logo h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.footer-logo p {
  margin: 0;
  font-size: 16px;
  text-align: justify;

}

.footer-info h3,
.footer-links h3,
.footer-social h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-info p,
.footer-links ul,
.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: #FFF;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #1ABC9C;
}

.footer-social ul {
  display: flex;
  gap: 15px;
}

.footer-social ul li a {
  color: #FFF;
  font-size: 18px;
  transition: color 0.3s;
}

.footer-social ul li a:hover {
  color: #1ABC9C;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #34495E;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

/* Responsivo */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-container div {
    margin: 20px 0;
  }

}

;