
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav {
    height: 100px;
    background-image: url('/images/nav.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo1 {
    color: aliceblue;
    display: flex;
    align-items: center;  
}

.titulo1 h1 {
    margin-left: 10px;
}

#logo_smed {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    background-color: rgb(rgba(245, 239, 239, 0.315));
    border-radius: 20px;
}

.nav_items {
    display: flex;
}

.nav_items a  {
   margin-left: 50px;
   margin-right: 20px;
   text-decoration: none;
   color: aliceblue;
   position: relative;
   padding-bottom: 2px;
}

.nav_items a:hover::after {
    content: ''; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%;
    height: 2px; 
    background-color: white ;
}
.link,.link_active {
    text-decoration: none;
    color: aliceblue;
}

/* seccion de la parte del nav */

#title_our {
    color: #061A3B;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    padding: 20px;
    margin-top: 150px;
    margin-left: 20px;
    font-size: 75px;
}

#decoracion{
    width: 100px;
    height: 30px;
    margin-left: 18px;
}

.p_our{
    overflow: auto;
    font-family: "Open Sans", sans-serif;
    margin-left: 30px;
}

#p_Gif {
    position: auto;
    float: right;
    margin-top: -230px;
    margin-right: 300px;
    width: 300px;
    border-radius: 160px;
    
}