@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: linear-gradient(rgba(39,39,39,0.6), transparent);
  z-index: 100;
}
.nav-logo img {
  width: 50px; 
  height: 30px; 
  border-radius: 70%; 
  margin-right: 50px;
}

.nav-logo p {
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin: 0%;
}

.nav-menu ul {
  display: flex;
}

.nav-menu li {
  list-style-type: none;
}

.nav-menu ul li .link {
  text-decoration: none;
  font-weight: 500;
  color: white;
  position: relative; 
  padding-bottom: 2px;
  margin: 0 25px;
}

.nav-menu ul li .link::after {
  content: ''; 
  position: absolute; 
  bottom: 0; 
  left: 50%; 
  width: 0; 
  height: 2px; 
  background-color: white; 
  transition: all 0.3s ease-out; 
}

.nav-menu ul li .link:hover::after {
  width: 100%; 
  left: 0; 
}

.link:hover {
  color: #ffff; /* Modificado: Mantener el color del texto en hover */
}

.nav-button .btn {
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.925);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
}

.nav-button .btn:hover {
  background: rgba(255, 255, 255, 0.7);
}





/* inicio de servicios, carrusel */ 

:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 30px;
    --spacing-m: 20px;
    --spacing-l: 37px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 950px;
  }
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;
  }
  
  .hero-section{
    align-items: center;
    background-image: linear-gradient(15deg, #ffffffd5 0%, #ffffffd5 150%);
    display: flex;
    min-height: 80%;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
    margin-left: 24%;
    margin-top: 100px;
    
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 1.2 rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }

  .contacto {
    margin: 2rem;
    position: relative;
    padding: 2rem;
    margin-top: 2rem; /* Margen para separarlo del contenido superior */
    border-radius: 20px; /* Bordes redondeados */
    overflow: hidden;
    z-index: 0; /* Para asegurarnos de que el contenido se superponga correctamente */
  }
  
  .contacto::before, .contacto::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #7598de90 0%, #000102d5 100%);
    z-index: -1;
    opacity: 0.2;
    border-radius: 20px; /* Bordes redondeados */
  }

  .ser {
    font-size: 300%;
    font-weight: bold;
    text-align: center; 
    text-decoration: none;
  }
  .ser a {
    text-decoration: none;
    color: #00cf00;
  }

  /* footer */

  footer {
    background-color: #000102d5;
    color: #FFF;
    padding: 40px 20px;
  }
  
  .footer-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: center;
  }
  
  .footer-container div {
    flex: 1;
    margin: 10px 20px;
    min-width: 100px;
  }
  
  .footer-logo {
    margin: center;
    width: 100%; 
    padding: 20px;
    text-align: center;
    box-sizing: border-box; /* Incluye padding en el ancho total */
  }
  .footer-logo h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .footer-logo p {
    margin: 0;
    font-size: 16px;
    text-align: justify;
    
  }
  
  .footer-info h3,
  .footer-links h3,
  .footer-social h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .footer-info p,
  .footer-links ul,
  .footer-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-links ul li {
    margin-bottom: 10px;
  }
  
  .footer-links ul li a {
    color: #FFF;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links ul li a:hover {
    color: #1ABC9C;
  }
  
  .footer-social ul {
    display: flex;
    gap: 15px;
  }
  
  .footer-social ul li a {
    color: #FFF;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .footer-social ul li a:hover {
    color: #1ABC9C;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #34495E;
    padding-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 14px;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
  
    .footer-container div {
        margin: 20px 0;
    }
  }