@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #061A3B;
    color: #fff;
}

.nav {
    height: 100px;
    background-image: url('/images/nav.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.titulo1 {
    color: aliceblue;
    display: flex;
    align-items: center;  
}

.titulo1 h1 {
    margin-left: 5px;
}

#logo_smed {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    border-radius: 20px;
}

.nav_items {
    display: flex;
}

.nav_items a {
    margin-left: 50px;
    margin-right: 20px;
    text-decoration: none;
    color: aliceblue;
    position: relative;
    padding-bottom: 2px;
    transition: color 1s ease-out; /* Transición para el color del texto */
}

.nav_items a::after {
    content: ''; 
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    width: 0; 
    height: 2px; 
    background-color: white;
    transition: all 0.3s ease-out; /* Transición para la línea */
}

.nav_items a:hover::after {
    width: 100%;
    left: 0;
}

.nav_items a:hover {
    color: aliceblue; /* Mantener el color del texto en hover */
}

/*titulo central*/

.titulo_Pri{
  font-family: "Orbitron", sans-serif;
  display: flex;
  align-items: center;
  width: 35%;
  height: 23%;
  margin-top: 2%;
  margin-left: 34%;
  font-size: 25px;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
}