@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');



:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
    --color: #052d7b;
    --fondo: #052d7b;
    --transition-time: 0.5s;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
}


.nav {
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39,0.6), transparent);
    z-index: 100;
}
.nav-logo img {
    width: 50px; 
    height: 30px; 
    border-radius: 70%; 
    margin-right: 50px;
}

.nav-logo p {
    color: #061A3B;
    font-size: 25px;
    font-weight: 600;
    margin: 0%;
}

.nav-menu ul {
    display: flex;
}

.nav-menu li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #061A3B;
    position: relative; 
    padding-bottom: 2px;
    margin: 0 25px;
    transition: color 0.3s ease; /* Añadir una transición suave */
}

.nav-menu ul li .link::after {
    content: ''; 
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    width: 0; 
    height: 2px; 
    background-color: white; 
    transition: all 0.3s ease-out; 
}

.nav-menu ul li .link:hover::after {
    width: 100%; 
    left: 0; 
}

.link:hover {
    color: #ffff; /* Modificado: Mantener el color del texto en hover */
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255,255,255,0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.nav-button .btn:hover {
    background: rgba(255, 255, 255, 0.7);
}

.titulo1 {
    color: aliceblue;
    display: flex;
    align-items: center;
}

.titulo1 h1 {
    margin-left: 5px;
}

#logo_smed {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    border-radius: 20px;
}

.nav_items a {
    margin-left: 50px;
    margin-right: 20px;
    text-decoration: none;
    color: aliceblue;
    position: relative;
    padding-bottom: 2px;
    transition: color 1s ease-out; /* Transición para el color del texto */
}

.nav_items a:hover::after {
    width: 100%;
    left: 0;
}
.nav_items a::after {
    content: ''; 
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    width: 0; 
    height: 2px; 
    background-color: white;
    transition: all 0.3s ease-out; /* Transición para la línea */
} 

.nav-search {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0 ;
    border-radius: 20px;
    padding: 5px 10px;
}

.search-input {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 5px 10px;
    flex-grow: 1;
    font-size: 16px;
}

.search-button {
    background: none; 
    border: none; 
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none; 
}

.search-button i {
    font-size: 18px; 
    color: #555; 
}

.link, .link_active {
    text-decoration: none;
    color: aliceblue;
}

/* carrusel */

/* Contenedor para centrar */
.ContainerCenter{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /* Input */
  .ContainerCenter input {
    display: none;
  }
  /* Slider */
  .Carrusels{
      margin-top: 50px;
      height: 500px;
      width: 1050px;
      position: relative;
      overflow-x: hidden;
      border-radius: 20px;
  }
  .Carrusel{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    overflow-y: hidden;
    transition: all .5s ease;
  }
  /* Estado 1 */
  #Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(0%, 0);}
  #Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(100%, 0);}
  #Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(200%, 0);}
  /* Estado 2 */
  #Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-100%, 0);}
  #Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(0%, 0);}
  #Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}
  /* Estado 3 */
  #Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-200%, 0);}
  #Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-100%, 0);}
  #Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(0%, 0);}
  
  
  /* Flechas */
  .Carrusels .ArrowLeft, .Carrusels .ArrowRight{
    position: absolute;
    height: 100%;
    width: 2em;
    align-items: center;
    justify-content: center;
    display: none;
    user-select: none;
  }
  .Carrusels .ArrowLeft{left: 0px;}
  .Carrusels .ArrowRight{right: 0px;}
  /* Configuracion de flechas individuales */
  #Slider1:checked ~ .Carrusels .Arrow1{display: flex;}
  #Slider2:checked ~ .Carrusels .Arrow2{display: flex;}
  #Slider3:checked ~ .Carrusels .Arrow3{display: flex;}
  
  
  /* Selectores */
  .Selectors {
    width: 60px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  .Selectors .Selector {
    background-color: #FFF;
    height: 10px;
    width: 10px;
    display: block;
    border-radius: 5px;
  }
  /* Condicionales para botón inferior */
  #Slider1:checked ~ .Selectors .Selector:nth-of-type(1) {background-color: #999999;}
  #Slider2:checked ~ .Selectors .Selector:nth-of-type(2) {background-color: #999999;}
  #Slider3:checked ~ .Selectors .Selector:nth-of-type(3) {background-color: #999999;}

  /*  contnedor de productos */


.carousel-container {
    width: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-track-container {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 200px; /* Ajusta el tamaño de los ítems según tus necesidades */
    margin: 30px;
    background-color: #f0f0f0;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
    
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.862);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev:hover, .next:hover {
    opacity: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev svg, .next svg {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  width: 24px;
  height: 24px;
}



  /* footer */

  footer {
    background-color: #000102d5;
    color: #FFF;
    padding: 40px 20px;
  }
  
  .footer-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: center;
  }
  
  .footer-container div {
    flex: 1;
    margin: 10px 20px;
    min-width: 100px;
  }
  
  .footer-logo {
    margin: center;
    width: 100%; 
    padding: 20px;
    text-align: center;
    box-sizing: border-box; /* Incluye padding en el ancho total */
  }
  .footer-logo h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .footer-logo p {
    margin: 0;
    font-size: 16px;
    text-align: justify;
    
  }
  
  .footer-info h3,
  .footer-links h3,
  .footer-social h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .footer-info p,
  .footer-links ul,
  .footer-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-links ul li {
    margin-bottom: 10px;
  }
  
  .footer-links ul li a {
    color: #FFF;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links ul li a:hover {
    color: #1ABC9C;
  }
  
  .footer-social ul {
    display: flex;
    gap: 15px;
  }
  
  .footer-social ul li a {
    color: #FFF;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .footer-social ul li a:hover {
    color: #1ABC9C;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #34495E;
    padding-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 14px;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
  
    .footer-container div {
        margin: 20px 0;
    }
  }